<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home </a>
            <a class="nav-item nav-link active" href="/register">Register <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/verify">Sign In </a>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 2em;">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form method="POST" action="/register/add">
                <div class="form-group">
                    <label class="col-md-4">First Name</label>
                    <label>
                        <input type="text" class="form-control" name="fname"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Last Name</label>
                    <label>
                        <input type="text" class="form-control" name="lname"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Username</label>
                    <label>
                        <input type="text" class="form-control" name="username"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Password</label>
                    <label>
                        <input type="password" class="form-control" name="password"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Confirm Password</label>
                    <label>
                        <input type="password" class="form-control" name="password2"/>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create my account</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{# if errors }}
    {{# each errors }}
        <p class="alert alert-danger">{{ this.msg }}</p>
    {{/each}}
{{/if}}

</body>
<div align="center">{{> footer}}</div>

</html>

